@import '~node_modules/modern-normalize/modern-normalize.css';

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
button {
  cursor: pointer;
}
