<section class="container cards__container">
  <ul class="cards__list">
    <li class="movie__card">
      <img
        src="https://global-uploads.webflow.com/5e95052cfabd4e155de8a3cf/62f53a2d149a09d1b4c86d1c_bowie%20poster.jpg"
        class="movie__cover"
      />
      <div class="movie__info">
        <h2 class="movie__title">Doom</h2>
        <div class="movie__item">
          <h3 class="movie__category">Drama</h3>
          <h3 class="movie__year">2013</h3>
          <div class="movie__average">8.5</div>
        </div>
      </div>
    </li>

    <li class="movie__card">
      <img
        src="https://global-uploads.webflow.com/5e95052cfabd4e155de8a3cf/62f53a2d149a09d1b4c86d1c_bowie%20poster.jpg"
        class="movie__cover"
      />
      <div class="movie__info">
        <h2 class="movie__title">Doom</h2>
        <div class="movie__item">
          <h3 class="movie__category">Drama</h3>
          <h3 class="movie__year">2013</h3>
          <div class="movie__average">8.5</div>
        </div>
      </div>
    </li>

    <li class="movie__card">
      <img
        src="https://global-uploads.webflow.com/5e95052cfabd4e155de8a3cf/62f53a2d149a09d1b4c86d1c_bowie%20poster.jpg"
        class="movie__cover"
      />
      <div class="movie__info">
        <h2 class="movie__title">Doom</h2>
        <div class="movie__item">
          <h3 class="movie__category">Drama</h3>
          <h3 class="movie__year">2013</h3>
          <div class="movie__average">8.5</div>
        </div>
      </div>
    </li>
    <li class="movie__card">
      <img
        src="https://global-uploads.webflow.com/5e95052cfabd4e155de8a3cf/62f53a2d149a09d1b4c86d1c_bowie%20poster.jpg"
        class="movie__cover"
      />
      <div class="movie__info">
        <h2 class="movie__title">Doom</h2>
        <div class="movie__item">
          <h3 class="movie__category">Drama</h3>
          <h3 class="movie__year">2013</h3>
          <div class="movie__average">8.5</div>
        </div>
      </div>
    </li>
  </ul>
</section>
