<header class="library-bg library-header-bcg header-library">
  <div id="header" class="container home">
    <div class="header-logo">
      <div class="header-logo__wrap">
        <a href="/src/index.html" class="header-logo__link" id="header-logo">
          <svg class="header-logo__icon rotate-vert-center" width="24" height="24">
            <use href="./images/icons.svg#icon-film"></use>
          </svg>
          <span class="header-logo__text tracking-in-expand">Filmoteka</span>
        </a>
      </div>
      <nav class="header-nav">
        <ul class="header-list">
          <li class="header-list__item">
            <a class="header-list__link" href="/src/index.html">
              <span>Home</span>
            </a>
          </li>
          <li class="header-list__item">
            <a class="header-list__link library-default" href="#">
              <span class="current-page">My library</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div id="header-library" class="library-btn__wrap is-hidden">
      <ul class="header-library__list">
        <li class="header-library__item">
          <button
            id="library-watched__button"
            class="header-library__btn watched-list-btn js-active"
            type="button"
            aria-label="watched"
          >
            WATCHED
          </button>
        </li>
        <li class="header-library__item">
          <button
            id="library-queue__button"
            class="header-library__btn queue-list-btn"
            type="button"
            aria-label="queue"
          >
            QUEUE
          </button>
        </li>
      </ul>
      <div class="hi-icon-wrap hi-icon-effect">
        <button class="theme-btn toggler text-focus-in"></button>
      </div>
    </div>
  </div>
</header>
