<!-- <div class="backdrop is-hidden">
    <div class="modal"> -->
<!-- <button type="button" class="btn-modal-close">Close</button> -->
<!-- <button class="btn-modal-close" type="button">
          <svg class="btn-modal__icon" >
            <use href="./images/icons.svg#icon-close"></use>
          </svg>
        </button> -->
<!-- <div class="modal-movie-btn">
      <button class="btn-modal btn-modal__watched">add to Watched</button>
      <button class="btn-modal btn-modal__queue">add to queue</button>
    </div> -->
<!-- </div>
</div> -->
<div class="backdrop is-hidden">
  <div class="modal">
    <button class="btn-modal-close" type="button">
      <svg class="btn-modal__icon">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <!-- <div class="modal-movie-btn">
      <button type="button" class="btn-modal btn-modal__watched">
        add to Watched
      </button>
      <button type="button" class="btn-modal btn-modal__queue">
        add to queue
      </button> -->
    </div>
  </div>
</div>
