<header class="page-header page-header-bcg">
  <div id="header" class="container home">
    <div class="header-logo">
      <div class="header-logo__wrap">
        <a href="#" class="header-logo__link" id="header-logo">
          <svg class="header-logo__icon rotate-vert-center" width="24" height="24">
            <use href="./images/icons.svg#icon-film"></use>
          </svg>
          <span class="header-logo__text tracking-in-expand">Filmoteka</span>
        </a>
        <!-- <a href="#" class="nav__switcher-link" id="themetoggle">
          <svg class="switcher__icon" id="light" width="18" height="18">
            <use href="/src/images/icons.svg#sunny"></use>
          </svg> -->
          <!-- <svg
            class="switcher__icon visually-hidden"
            id="dark"
            width="18"
            height="18"
          >
            <use href="/src/images/icons.svg#dark"></use>
          </svg>
        </a> -->
      </div>
      <nav class="header-nav">
        <ul class="header-list">
          <li class="header-list__item">
            <a class="header-list__link header-nav__link" href="#">
              <span class=" current-page">Home</span>
            </a>
          </li>

          <li class="header-list__item">
            <a class="header-list__link header-nav__link" href="/src/library.html">
              <span >My library</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="header-form__wrap">
      <form class="header-form" id="search-form">
        <div class="header-form__input-wrap">
          <input
            class="header-form__input"
            type="text"
            name="searchQuery"
            autocomplete="off"
            placeholder="Movie search"
          />
          <button id="form-button" class="header-form__button" type="submit">
            <svg class="header-form__search-icon" width="15" height="15">
              <use href="./images/icons.svg#icon-search"></use>
            </svg>
          </button>
        </div>
      </form>
    </div>
  </div>
</header>
