<footer>
  <div class="footer footer__wrap">
    <p>© 2023 | All Rights Reserved |&nbsp;</p>
    <div class="footer__developed">
      <p>Developed with</p>
      <svg class="footer__heart-icon" width="20" height="20">
        <use href="./images/icons.svg#footer-heart"></use>
      </svg>
      <div class="backdrop-modal-footer is-hidden" data-modal-footer>
        <div class="modal-students">
          <button class="modal-students__button-close" data-modal-footer-close>
            <svg class="modal-students__icon" width="18" height="18">
              <use href="./images/icons.svg#icon-close"></use>
            </svg>
          </button>

          <div class="modal__container--wrapper">
            <h2 class="modal-students__title">‘<span class="modal__title--accent">J</span>unior`s <span
                class="modal__title--accent">S</span>trongest team’</h2>
            <ul class="modal-students__list">

              <!-------------- stud_1 --------------------------------------------------------------------------------->
              <li class="modal-students__item">
                <div class="modal-students__link modal__link">
                  <div class="modal-students__thumb modal__thumb modal__wrapper">
                    <img class="modal__pic" src="./images/students/Danylo Zozylia.jpg" alt="">
                    <div class="overlay">
                      <h3 class="overlay-text">
                        Danil<br>Zozulia
                      </h3>
                      <p class="overlay-desc">TeamLead</p>
                      <ul class="socials__list">
                        <li><a class="socials__item link"
                            href="https://https://www.linkedin.com/in/danil-zozulia-71a1b9263/" target="_self"
                            rel="noopener noreferrer" aria-label="LinkedIn"><svg width="20" height="20">
                              <use href="./images/icons.svg#icon-linkedin"></use>
                            </svg></a></li>
                        <li><a class="socials__item link" href="https://github.com/vadrille12" target="_self"
                            rel="noopener noreferrer" aria-label="github"><svg width="20" height="20">
                              <use href="./images/icons.svg#icon-github"></use>
                            </svg></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>

              <!-------------- stud_2 --------------------------------------------------------------------------------->
              <li class="modal-students__item">
                <div class="modal-students__link modal__link" href="#" target="_blank">
                  <div class="modal-students__thumb modal__thumb modal__wrapper">
                    <img class="modal__pic" src="./images/students/Oksana Gerzanych.jpg " alt="">
                    <div class="overlay">
                      <h3 class="overlay-text">
                        Oksana<br>Gerzanych
                      </h3>
                      <p class="overlay-desc">ScramMaster</p>
                      <ul class="socials__list">
                        <li><a class="socials__item link" href="https://www.linkedin.com/in/oksana-gerzanych-5b2456257"
                            target="_self" rel="noopener noreferrer" aria-label="LinkedIn"><svg width="20" height="20">
                              <use href="./images/icons.svg#icon-linkedin"></use>
                            </svg></a></li>
                        <li><a class="socials__item link" href="https://github.com/OksanaGerzanych" target="_self"
                            rel="noopener noreferrer" aria-label="github"><svg width="20" height="20">
                              <use href="./images/icons.svg#icon-github"></use>
                            </svg></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>

              <!-------------- stud_3 --------------------------------------------------------------------------------->
              <li class="modal-students__item">
                <div class="modal-students__link modal__link" href="#" target="_blank">
                  <div class="modal-students__thumb modal__thumb modal__wrapper">
                    <img class="modal__pic" src="./images/students/Christina Bogacheva.jpg" alt="">
                    <div class="overlay">
                      <h3 class="overlay-text">
                        Christina<br>Bogacheva
                      </h3>
                      <p class="overlay-desc">Developer</p>
                      <ul class="socials__list">
                        <li><a class="socials__item link"
                            href="https://www.linkedin.com/in/krystyna-bohachova-4385a5264/" target="_self"
                            rel="noopener noreferrer" aria-label="LinkedIn"><svg width="20" height="20">
                              <use href="./images/icons.svg#icon-linkedin"></use>
                            </svg></a></li>
                        <li><a class="socials__item link" href="https://github.com/Kristinohka" target="_self"
                            rel="noopener noreferrer" aria-label="github"><svg width="20" height="20">
                              <use href="./images/icons.svg#icon-github"></use>
                            </svg></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>

              <!-------------- stud_4 --------------------------------------------------------------------------------->
              <li class="modal-students__item">
                <div class="modal-students__link modal__link" href="#" target="_blank">
                  <div class="modal-students__thumb modal__thumb modal__wrapper">
                    <img class="modal__pic" src="./images/students/Alyona Muzalevska.jpg" alt="">
                    <div class="overlay">
                      <h3 class="overlay-text">
                        Alyona<br>Muzalevska
                      </h3>
                      <p class="overlay-desc">Developer</p>
                      <ul class="socials__list">
                        <li><a class="socials__item link" href="https://www.linkedin.com/in/alona-muzalevska-7ab377264/"
                            target="_self" rel="noopener noreferrer" aria-label="LinkedIn"><svg width="20" height="20">
                              <use href="./images/icons.svg#icon-linkedin"></use>
                            </svg></a></li>
                        <li><a class="socials__item link" href="https://github.com/muza1919" target="_self"
                            rel="noopener noreferrer" aria-label="github"><svg width="20" height="20">
                              <use href="./images/icons.svg#icon-github"></use>
                            </svg></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>

              <!-------------- stud_5 --------------------------------------------------------------------------------->
              <li class="modal-students__item">
                <div class="modal-students__link modal__link" href="#" target="_blank">
                  <div class="modal-students__thumb modal__thumb modal__wrapper">
                    <img class="modal__pic" src="./images/students/Serhii Myronets.jpg" alt="">
                    <div class="overlay">
                      <h3 class="overlay-text"> Serhii<br>Myronets
                      </h3>
                      <p class="overlay-desc">Developer</p>
                      <ul class="socials__list">
                        <li><a class="socials__item link" href="https://www.linkedin.com/in/serhii-myronets-hm"
                            target="_self" rel="noopener noreferrer" aria-label="LinkedIn"><svg width="20" height="20">
                              <use href="./images/icons.svg#icon-linkedin"></use>
                            </svg></a></li>
                        <li><a class="socials__item link" href="https://github.com/hakuna00723" target="_self"
                            rel="noopener noreferrer" aria-label="github"><svg width="20" height="20">
                              <use href="./images/icons.svg#icon-github"></use>
                            </svg></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>

              <!-------------- stud_6 --------------------------------------------------------------------------------->
              <li class="modal-students__item">
                <div class="modal-students__link modal__link" href="#" target="_blank">
                  <div class="modal-students__thumb modal__thumb modal__wrapper">
                    <img class="modal__pic" src="./images/students/Natalie  Khrystevych.jpg" alt="">
                    <div class="overlay">
                      <h3 class="overlay-text">
                        Natalie<br>Khrystevych

                      </h3>
                      <p class="overlay-desc">Developer</p>
                      <ul class="socials__list">
                        <li><a class="socials__item link" href="#" target="_self" rel="noopener noreferrer"
                            aria-label="LinkedIn"><svg width="20" height="20">
                              <use href="./images/icons.svg#icon-linkedin"></use>
                            </svg></a></li>
                        <li><a class="socials__item link" href="https://github.com/NatalieUSA" target="_self"
                            rel="noopener noreferrer" aria-label="github"><svg width="20" height="20">
                              <use href="./images/icons.svg#icon-github"></use>
                            </svg></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>

              <!-------------- stud_7 --------------------------------------------------------------------------------->
              <li class="modal-students__item">
                <div class="modal-students__link modal__link" href="#" target="_blank">
                  <div class="modal-students__thumb modal__thumb modal__wrapper">
                    <img class="modal__pic" src=" ./images/students/Mary  Shtainfeld.jpg" alt="">
                    <div class="overlay">
                      <p class="overlay-text">
                      <h3 class="overlay-text">
                        Mary<br>Shtainfeld

                      </h3>
                      <p class="overlay-desc">Developer</p>
                      <ul class="socials__list">
                        <li><a class="socials__item link" href="#" target="_self" rel="noopener noreferrer"
                            aria-label="LinkedIn"><svg width="20" height="20">
                              <use href="./images/icons.svg#icon-linkedin"></use>
                            </svg></a></li>
                        <li><a class="socials__item link" href="https://github.com/MaryShtayn" target="_self"
                            rel="noopener noreferrer" aria-label="github"><svg width="20" height="20">
                              <use href="./images/icons.svg#icon-github"></use>
                            </svg></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>

              <!-------------- stud_8 --------------------------------------------------------------------------------->
              <li class="modal-students__item">
                <div class="modal-students__link modal__link" href="#" target="_blank">
                  <div class="modal-students__thumb modal__thumb modal__wrapper">
                    <img class="modal__pic" src="./images/students/Roman  Kovalchuk.jpg" alt="">
                    <div class="overlay">
                      <h3 class="overlay-text">
                        Roman<br>Kovalchuk

                      </h3>
                      <p class="overlay-desc">Developer</p>
                      <ul class="socials__list">
                        <li><a class="socials__item link" href="https://www.linkedin.com/in/roman-kovalchuk44/"
                            target="_self" rel="noopener noreferrer" aria-label="LinkedIn"><svg width="20" height="20">
                              <use href="./images/icons.svg#icon-linkedin"></use>
                            </svg></a></li>
                        <li><a class="socials__item link" href="https://github.com/romis44" target="_self"
                            rel="noopener noreferrer" aria-label="github"><svg width="20" height="20">
                              <use href="./images/icons.svg#icon-github"></use>
                            </svg></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>

              <!-------------- stud_9 --------------------------------------------------------------------------------->
              <li class="modal-students__item">
                <div class="modal-students__link modal__link" href="#" target="_blank">
                  <div class="modal-students__thumb modal__thumb modal__wrapper">
                    <img class="modal__pic" src="./images/students/Diana  Maliarchuk.jpg" alt="">
                    <div class="overlay">
                      <h3 class="overlay-text">
                        Diana<br>Maliarchuk

                      </h3>
                      <p class="overlay-desc">Developer</p>
                      <ul class="socials__list">
                        <li><a class="socials__item link" href="https://www.linkedin.com/in/diana-maliarchuk/"
                            target="_self" rel="noopener noreferrer" aria-label="LinkedIn"><svg width="20" height="20">
                              <use href="./images/icons.svg#icon-linkedin"></use>
                            </svg></a></li>
                        <li><a class="socials__item link" href="https://github.com/diana1m" target="_self"
                            rel="noopener noreferrer" aria-label="github"><svg width="20" height="20">
                              <use href="./images/icons.svg#icon-github"></use>
                            </svg></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>

              <!-------------- stud_10 --------------------------------------------------------------------------------->
              <li class="modal-students__item">
                <div class="modal-students__link modal__link" href="#" target="_blank">
                  <div class="modal-students__thumb modal__thumb modal__wrapper">
                    <img class="modal__pic" src="./images/students/Yuliia Melnyk.jpg" alt="">
                    <div class="overlay">
                      <h3 class="overlay-text">
                        Yuliia<br>Melnyk

                      </h3>
                      <p class="overlay-desc">Developer</p>
                      <ul class="socials__list">
                        <li><a class="socials__item link" href="#" target="_self" rel="noopener noreferrer"
                            aria-label="LinkedIn"><svg width="20" height="20">
                              <use href="./images/icons.svg#icon-linkedin"></use>
                            </svg></a></li>
                        <li><a class="socials__item link" href="#" target="_self" rel="noopener noreferrer"
                            aria-label="github"><svg width="20" height="20">
                              <use href="./images/icons.svg#icon-github"></use>
                            </svg></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>

              <!-------------- stud_11 --------------------------------------------------------------------------------->
              <li class="modal-students__item">
                <div class="modal-students__link modal__link" href="#" target="_blank">
                  <div class="modal-students__thumb modal__thumb modal__wrapper">
                    <img class="modal__pic" src="./images/students/Sasha Makohin.jpg" alt="">
                    <div class="overlay">
                      <h3 class="overlay-text">
                        Sasha<br>Makohin

                      </h3>
                      <p class="overlay-desc">Developer</p>
                      <ul class="socials__list">
                        <li><a class="socials__item link" href="https://www.linkedin.com/in/саша-макогін-a264a4248/"
                            target="_self" rel="noopener noreferrer" aria-label="LinkedIn"><svg width="20" height="20">
                              <use href="./images/icons.svg#icon-linkedin"></use>
                            </svg></a></li>
                        <li><a class="socials__item link" href="https://github.com/SashaMak19" target="_self"
                            rel="noopener noreferrer" aria-label="github"><svg width="20" height="20">
                              <use href="./images/icons.svg#icon-github"></use>
                            </svg></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>

              <!-------------- stud_12 --------------------------------------------------------------------------------->
              <li class="modal-students__item">
                <div class="modal-students__link modal__link" href="#" target="_blank">
                  <div class="modal-students__thumb modal__thumb modal__wrapper">
                    <img class="modal__pic" src="./images/students/Liana  Sheremet.jpg" alt="">
                    <div class="overlay">
                      <p class="overlay-text">
                      <h3 class="overlay-text">
                        Liana<br>Sheremet

                      </h3>
                      <p class="overlay-desc">Developer</p>
                      <ul class="socials__list">
                        <li><a class="socials__item link" href="https://www.linkedin.com/in/lianasheremet/"
                            target="_self" rel="noopener noreferrer" aria-label="LinkedIn"><svg width="20" height="20">
                              <use href="./images/icons.svg#icon-linkedin"></use>
                            </svg></a></li>
                        <li><a class="socials__item link" href="https://github.com/LianaSher" target="_self"
                            rel="noopener noreferrer" aria-label="github"><svg width="20" height="20">
                              <use href="./images/icons.svg#icon-github"></use>
                            </svg></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>

              <!-------------- stud_13 --------------------------------------------------------------------------------->
              <li class="modal-students__item">
                <div class="modal-students__link modal__link" href="#" target="_blank">
                  <div class="modal-students__thumb modal__thumb modal__wrapper">
                    <img class="modal__pic" src="./images/students/Max Korovchenko.jpg" alt="">
                    <div class="overlay">
                      <h3 class="overlay-text">
                        Max<br>Korovchenko

                      </h3>
                      <p class="overlay-desc">Developer</p>
                      <ul class="socials__list">
                        <li><a class="socials__item link" href="https://www.linkedin.com/in/maxkorovchenko/"
                            target="_self" rel="noopener noreferrer" aria-label="LinkedIn"><svg width="20" height="20">
                              <use href="./images/icons.svg#icon-linkedin"></use>
                            </svg></a></li>
                        <li><a class="socials__item link" href="https://github.com/MaxKorovchenko" target="_self"
                            rel="noopener noreferrer" aria-label="github"><svg width="20" height="20">
                              <use href="./images/icons.svg#icon-github"></use>
                            </svg></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>

              <!-------------- stud_13 --------------------------------------------------------------------------------->
              <li class="modal-students__item">
                <div class="modal-students__link modal__link" href="#" target="_blank">
                  <div class="modal-students__thumb modal__thumb modal__wrapper">
                    <img class="modal__pic" src="./images/students/Marina Ositrova.jpg">
                    <div class="overlay">
                      <h3 class="overlay-text">
                        Marina<br>Ositrova

                      </h3>
                      <p class="overlay-desc">Developer</p>
                      <ul class="socials__list">
                        <li><a class="socials__item link" href="https://www.linkedin.com/in/maryna-ositrova-a0087a265"
                            target="_self" rel="noopener noreferrer" aria-label="LinkedIn"><svg width="20" height="20">
                              <use href="./images/icons.svg#icon-linkedin"></use>
                            </svg></a></li>
                        <li><a class="socials__item link" href="https://github.com/ositrov" target="_self"
                            rel="noopener noreferrer" aria-label="github"><svg width="20" height="20">
                              <use href="./images/icons.svg#icon-github"></use>
                            </svg></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>
          </div>
        </div>
      </div>
      <a class="footer-students__link" data-modal-footer-open>
        <span>by&nbsp;<span class="">GoIT Students</span></span>
      </a>
    </div>
  </div>
</footer>