.cards__container {
  padding-top: 20px;
  padding-bottom: 40px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.cards__list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
  }
  @media screen and (min-width: 1280px) {
    column-gap: 16px;
    row-gap: 32px;
  }
}

.cards__item:not(:last-child) {
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .cards__item:not(:last-child) {
    margin-bottom: 0px;
  }
}

.cards__item {
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 2 * 32px) / 3);
  }
  @media screen and (min-width: 1280px) {
    flex-basis: calc((100% - 2 * 16px) / 3);
  }
}
