.cards__container {
  padding-top: 20px;
  padding-bottom: 40px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.cards__list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
  }
  @media screen and (min-width: 1280px) {
    column-gap: 16px;
    row-gap: 32px;
  }
}

.movie__card {
  width: 280px;
  border-radius: 5px;
  &:hover,
  &:focus {
    box-shadow: 5px 5px 8px 1px rgba(0, 0, 0, 0.5);
  }

  @media screen and (min-width: 768px) {
    width: 336px;
  }

  @media screen and (min-width: 1280px) {
    width: 394px;
  }
}

.movie__card:not(:last-child) {
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .movie__card:not(:last-child) {
    margin-bottom: 0px;
  }
}

.movie__info {
  padding-top: 8px;

  .movie__card:hover &,
  .movie__card:focus & {
    padding-left: 5px;
    padding-top: 5px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 12px;
  }
}

.movie__title {
  white-space: nowrap;
  font-style: medium;
  font-size: 12px;
  line-height: 1.33;
  color: $secondary-title-color;
  text-transform: uppercase;
  text-align: start;

  @media screen and (min-width: 1280px) {
    font-size: 20px;
    line-height: 1.2;
  }
}

.movie__category {
  font-style: medium;
  font-size: 12px;
  line-height: 1.33;
  color: $main-accent-color;

  @media screen and (min-width: 1280px) {
    font-size: 20px;
    line-height: 1.2;
  }
}
.movie__category::after {
  content: ' | ';
  margin-right: 5px;
}

.movie__item {
  display: flex;
  flex-wrap: wrap;
}

.movie__year {
  font-size: 12px;
  line-height: 1.33;
  color: $main-accent-color;

  @media screen and (min-width: 1280px) {
    font-size: 20px;
    line-height: 1.2;
  }
}

.movie__average {
  padding: 1px 6px;
  margin-left: 9px;
  background-color: $warning-color;
  border-radius: 5px;
  color: $main-title-color;
  font-size: 12px;
  line-height: 1.17;

  @media screen and (min-width: 768px) {
    padding: 1px 9px;
  }

  @media screen and (min-width: 1280px) {
    font-style: medium;
    padding: 3px 12px;
  }
}
