.empty-library {
  margin-left: auto;
  margin-right: auto;
}
.empty-library__title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: calc(22 / 20);
  margin-bottom: 20px;
  text-transform: uppercase;
}
.empty-library__img {
  margin-left: auto;
  margin-right: auto;
}
