//================MAIN PAGE styles ============
.header-logo {
  display: flex;
  align-items: center;
  align-items: center;
  @media screen and (min-width: 768px) {
    // padding: 40px 32px;
  }
  &__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 40px 0 54px 20px;
    fill: $main-title-color;
  }

  &__text {
    display: none;
  }
  @media screen and (min-width: 768px) {
    .header-logo__text {
      display: inline-block;
      margin-left: 10px;
      font-style: normal;
      font-weight: 500;
      font-size: 30px;
      line-height: calc(35 / 30);
      color: $main-title-color;
    }
  }
}

.header-nav {
  margin-left: auto;
}

.header-list {
  display: flex;
  list-style: none;
  padding: 0;
  align-items: center;
  &__item:not(:last-child) {
    margin-right: 39px;
  }

  &__link {
    display: flex;
    text-align: center;
    padding: 44px 0 60px 0;
    // border: none;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: calc(14 / 12);
    text-transform: uppercase;
    color: $main-title-color;
    background-color: transparent;
    cursor: pointer;

    @media screen and (min-width: 768px) {
      padding: 49px 0 52px 0;
    }
  }
}

.current-page {
  position: relative;
  &::after {
    content: '';
    display: inline-block;
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 100%;
    background-color: $warning-color;
    border: 2px solid $warning-color;
  }
}

// ================FORM styles ===============================

.header-form {
  position: relative;
  display: flex;
  justify-content: center;
  padding-bottom: 92px;
  padding-left: 20px;
  padding-right: 20px;
  //   width: 280px;
  @media screen and (min-width: 768px) {
    padding-bottom: 80px;
  }

  &__input-wrap {
    position: relative;
    align-items: center;
    height: 40px;
    width: 280px;
    padding-top: 18px;
    border-bottom: 0.5px solid $main-title-color;
    @media screen and (min-width: 768px) {
      width: 336px;
    }
    @media screen and (min-width: 1280px) {
      width: 394px;
    }
  }

  &__input {
    border: none;
    outline: none;
    background-color: transparent;
    width: 100%;
    color: $main-title-color;
  }

  &__input::placeholder {
    color: $main-title-color;
  }

  &__input:focus {
    &::placeholder {
      color: transparent;
    }
  }

  &__button {
    position: absolute;
    top: 25%;
    right: 2px;
    background-color: transparent;
    border: none;
    width: 30px;
    height: 40px;

    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__search-icon {
    // transform: translateY(-50%);
    width: 15px;
    height: 15px;
    fill: $main-title-color;
  }
}

.form__uncorrect-search {
  position: absolute;
  top: 40px;
  color: $warning-color;
  background: transparent;
  font-weight: 400;
  text-align: left;
  margin-top: 20px;

  @media screen and (max-width: 767px) {
    margin-top: 20px;
    text-align: left;
    display: block;
    width: 250px;
  }
}

// ================ LIBRARY styles==================
.header-library {
  &__list {
    display: flex;
    justify-content: center;
    padding-bottom: 65px;
  }

  &__item:not(:last-child) {
    margin-right: 20px;
    @media screen and (min-width: 768px) {
      margin-right: 32px;
    }
    @media screen and (min-width: 1280px) {
      margin-right: 16px;
    }
  }

  &__btn {
    width: 130px;
    height: 44px;
    border: 1px solid $main-title-color;
    border-radius: 5px;
    background-color: transparent;
    color: $main-title-color;
    box-shadow: (0px 8px 43px rgba(255, 107, 1, 0.6));

    @media screen and (min-width: 768px) {
      width: 152px;
    }
    @media screen and (min-width: 1280px) {
      width: 148px;
      height: 42px;
    }
  }

  &__btn:hover {
    background-color: $main-accent-color;
  }
  &__btn:focus {
    background-color: $main-accent-color;
  }
}

.js-active {
  background-color: $main-accent-color;
  border-color: transparent;
}

// // // ============ Стили background ========================

.page-header-bcg {
  //background-color: $header-background-color;
  background-image: linear-gradient(
      $header-background-color,
      $header-background-color
    ),
    url(../images/header/header_mobile_1s_@1x.jpg);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        $header-background-color,
        $header-background-color
      ),
      url(../images/header/header_mobile_1s_@2x.jpg);
  }

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(
        $header-background-color,
        $header-background-color
      ),
      url(../images/header/header_tablet_1_m_@1x.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          $header-background-color,
          $header-background-color
        ),
        url(../images/header/header_tablet_1_m_@2x.jpg);
    }
  }

  @media screen and (min-width: 1280px) {
    background-image: linear-gradient(
        $header-background-color,
        $header-background-color
      ),
      url(../images/header/header_desctop_1_xl_@1x.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          $header-background-color,
          $header-background-color
        ),
        url(../images/header/header_desctop_1_xl_@2x.jpg);
    }
  }
}

.library-header-bcg {
  background-color: $secondary-title-color;
  background-image: linear-gradient(
      $header-background-color,
      $header-background-color
    ),
    url(../images/header/header_mobile_2s_@1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        $header-background-color,
        $header-background-color
      ),
      url(../images/header/header_mobile_2s_@2x.jpg);
  }

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(
        $header-background-color,
        $header-background-color
      ),
      url(../images/header/header_tablet_2_m_@1x.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          $header-background-color,
          $header-background-color
        ),
        url(../images/header/header_tablet_2_m_@2x.jpg);
    }
  }

  @media screen and (min-width: 1280px) {
    background-image: linear-gradient(
        $header-background-color,
        $header-background-color
      ),
      url(../images/header/header_desctop_2_xl_@1x.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          $header-background-color,
          $header-background-color
        ),
        url(../images/header/header_desctop_2_xl_@2x.jpg);
    }
  }
}

.header-logo__link {
  position: relative;
}
.header-logo__text:hover,
.header-logo__text:focus {
  color: $main-accent-color;
  transition: 1s ease;
  outline: none;
}

.header-nav__link {
  position: relative;
}
.header-nav__link:hover,
.header-nav__link:focus {
  color: $main-accent-color;
  transition: 1s ease;
}

.nav__switcher-link {
  margin-left: 18px;
  fill: $main-title-color;

  & :hover,
  & :focus {
    transition: fill 500ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: $main-accent-color;
  }
}

// // switchDayNight

.theme-btn {
  width: 25px;
  height: 25px;
  border: none;
  outline: none;
  padding: 10px;
  cursor: pointer;
}
.toggler {
  transition: all 0.2s ease 0s;
  // border: 1px solid $cl-accent;
  border-radius: 50px;
}

.hi-icon-wrap {
  position: absolute;
  top: 200px;
  margin-left: 250px;
  @media screen and (min-width: 768px) {
    margin-left: 680px;
  }
  @media screen and (min-width: 1280px) {
    margin-left: 1150px;
  }
}
.theme-btn {
  // display: inline-block;
  cursor: pointer;
  border-radius: 50%;
  // text-align: center;
  // position: relative;
  z-index: 1;
  color: $main-title-color;
}

.theme-btn:after {
  pointer-events: none;
  position: absolute;
  left: -1px;
  bottom: -2px;
  width: 110%;
  height: 110%;
  transform: translate(-50%);
  border-radius: 50%;
  content: '';
  // -webkit-box-sizing: content-box;
  // -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.theme-btn::before {
  display: block;
  -webkit-font-smoothing: antialiased;
}

.hi-icon-effect .theme-btn::after {
  opacity: 0;
  display: inline-block;
  text-align: center;
  box-shadow: 3px 3px $main-accent-color;
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  transition: opacity 0.2s, transform 0.2s;
}
// .hi-icon-effect .theme-btn:active::after {
//   opacity: 0;
// }
.hi-icon-effect .theme-btn:hover::after {
  opacity: 1;
  display: inline-block;
  text-align: center;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.hi-icon-effect .theme-btn::before {
  display: inline-block;
  text-align: center;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0.7;
  -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
  -moz-transition: -moz-transform 0.2s, opacity 0.2s;
  transition: transform 0.2s, opacity 0.2s;
}

.hi-icon-effect .theme-btn:hover::before {
  display: inline-block;
  text-align: center;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
.text-focus-in {
  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
