html {
  background-color: #ffffff;
  color: #000000;
  overflow: scroll;
  height: 100%;
  scroll-behavior: smooth;
  transition: background-color 500ms cubic-bezier(0.175, 0.82, 0.165, 1);
}

html.dark {
  transition: background-color 500ms cubic-bezier(0.175, 0.82, 0.165, 1);
  color: #ffffff;
  background-color: rgba(22, 20, 20, 0.94);
  height: 100%;
  scroll-behavior: smooth;
}

html.light header {
  box-shadow: 1px 13px 26px -2px rgba(4, 4, 4, 0.9);
}

html.dark header {
  box-shadow: 1px 13px 26px -2px rgba(0, 0, 0, 0.527);
}

html.dark .footer {
  background-color: #272323ad;
  box-shadow: -1px -8px 33px 6px rgba(7, 0, 0, 0.26);
}

html.dark .modal-info__value {
  color: #000000;
}
html.dark .modal-movie-info__value {
  color: #000000;
}

html.light .footer {
  background-color: #ffffff69;
}
html.dark .theme-btn {
  background: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"%3E%3Cpath fill="white" d="M12 18a6 6 0 1 1 0-12a6 6 0 0 1 0 12zm0-2a4 4 0 1 0 0-8a4 4 0 0 0 0 8zM11 1h2v3h-2V1zm0 19h2v3h-2v-3zM3.515 4.929l1.414-1.414L7.05 5.636L5.636 7.05L3.515 4.93zM16.95 18.364l1.414-1.414l2.121 2.121l-1.414 1.414l-2.121-2.121zm2.121-14.85l1.414 1.415l-2.121 2.121l-1.414-1.414l2.121-2.121zM5.636 16.95l1.414 1.414l-2.121 2.121l-1.414-1.414l2.121-2.121zM23 11v2h-3v-2h3zM4 11v2H1v-2h3z"%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-size: cover;
}

html.light .theme-btn {
  background: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"%3E%3Cpath fill="white" d="M10 7a7 7 0 0 0 12 4.9v.1c0 5.523-4.477 10-10 10S2 17.523 2 12S6.477 2 12 2h.1A6.979 6.979 0 0 0 10 7zm-6 5a8 8 0 0 0 15.062 3.762A9 9 0 0 1 8.238 4.938A7.999 7.999 0 0 0 4 12z"%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.main {
  flex: 1 1 auto;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0em;
  text-align: center;
  // color: $secondary-title-color;
}

a {
  text-decoration: none;
  color: currentColor;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
  object-fit: cover;
  object-position: center;
}

button {
  display: block;
  padding: 0;
  border: none;
  cursor: pointer;
}
